@font-face {
  font-family: CalsonRegular;
  src: url("../fonts/Adobe_Calson/ACaslonPro-Regular.eot");
  src:
  url("../fonts/Adobe_Calson/ACaslonPro-Regular.eo?#iefix") format("embedded-opentype"),
  url("../fonts/Adobe_Calson/ACaslonPro-Regular.woff") format("woff"),
  url("../fonts/Adobe_Calson/ACaslonPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Calson224 Black Italic";
  src: url("../fonts/Calson_224/Caslon224Std-BlackItalic.eot");
  src:
  url("../fonts/Calson_224/Caslon224Std-BlackItalic.eo?#iefix") format("embedded-opentype"),
  url("../fonts/Calson_224/Caslon224Std-BlackItalic.woff") format("woff"),
  url("../fonts/Calson_224/Caslon224Std-BlackItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Calson224 Bold";
  src: url("../fonts/Calson_224/Caslon224Std-Bold.eot");
  src:
  url("../fonts/Calson_224/Caslon224Std-Bold.eo?#iefix") format("embedded-opentype"),
  url("../fonts/Calson_224/Caslon224Std-Bold.woff") format("woff"),
  url("../fonts/Calson_224/Caslon224Std-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Calson224 Bold Italic";
  src: url("../fonts/Calson_224/Caslon224Std-BoldItalic.eot");
  src:
  url("../fonts/Calson_224/Caslon224Std-BoldItalic.eo?#iefix") format("embedded-opentype"),
  url("../fonts/Calson_224/Caslon224Std-BoldItalic.woff") format("woff"),
  url("../fonts/Calson_224/Caslon224Std-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Calson224 Book Italic";
  src: url("../fonts/Calson_224/Caslon224Std-BookItalic.eot");
  src:
  url("../fonts/Calson_224/Caslon224Std-BookItalic.eo?#iefix") format("embedded-opentype"),
  url("../fonts/Calson_224/Caslon224Std-BookItalic.woff") format("woff"),
  url("../fonts/Calson_224/Caslon224Std-BookItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Calson224 Medium Italic";
  src: url("../fonts/Calson_224/Caslon224Std-MediumItalic.eot");
  src:
  url("../fonts/Calson_224/Caslon224Std-MediumItalic.eo?#iefix") format("embedded-opentype"),
  url("../fonts/Calson_224/Caslon224Std-MediumItalic.woff") format("woff"),
  url("../fonts/Calson_224/Caslon224Std-MediumItalic.ttf") format("truetype");
  font-weight: medium;
  font-style: italic;
}

@font-face {
  font-family: "Suisse Condensed";
  src: url("../fonts/Suisse/SuisseIntlCond-Regular-WebS.eot");
  src:
  url("../fonts/Suisse/SuisseIntlCond-Regular-WebS.eo?#iefix") format("embedded-opentype"),
  url("../fonts/Suisse/SuisseIntlCond-Regular-WebS.woff") format("woff"),
  url("../fonts/Suisse/SuisseIntlCond-Regular-WebS.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Suisse Condensed Light";
  src: url("../fonts/Suisse/SuisseIntlCond-Light-WebS.eot");
  src:
  url("../fonts/Suisse/SuisseIntlCond-Light-WebS.eo?#iefix") format("embedded-opentype"),
  url("../fonts/Suisse/SuisseIntlCond-Light-WebS.woff") format("woff"),
  url("../fonts/Suisse/SuisseIntlCond-Light-WebS.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Suisse Condensed Medium";
  src: url("../fonts/Suisse/SuisseIntlCond-Medium-WebS.eot");
  src:
  url("../fonts/Suisse/SuisseIntlCond-Medium-WebS.eo?#iefix") format("embedded-opentype"),
  url("../fonts/Suisse/SuisseIntlCond-Medium-WebS.woff") format("woff"),
  url("../fonts/Suisse/SuisseIntlCond-Medium-WebS.ttf") format("truetype");
  font-weight: medium;
  font-style: normal;
}
