@import "normalize.scss";
@import "fonts.scss";
@import "variables.scss";
@import "buttons.scss";
@import "mixins.scss";

.wrapper {
  margin: 0 auto;
}

.main-header {
  position: relative;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: $external-margin;

  background-color: #000000;

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    display: block;
    width: 100%;
    height: 100%;
    min-height: auto;
    max-height: none;
    overflow: hidden;
  }
}

.row {
  display: flex;

  text-align: center;
}

.book {
  position: relative;
  z-index: 2;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1320px;
  margin: $external-margin 6.979%;

  text-align: center;
  color: #ffffff;

  &__cover {
    flex: 1 1 40%;
    margin-right: 47px;
  }

  &__img {
    max-width: 100%;
  }

  &__content {
    display: flex;
    flex: 1 1 60%;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 47px;
  }

  &__title {
    margin: 0;
    margin-bottom: $internal-margin-bottom;
    padding: 0;

    font-weight: 400;
    font-size: 5rem;
    line-height: 1;
    font-family: "Calson224 Black Italic", Arial, sans-serif;
    font-style: italic;
    letter-spacing: 2px;
  }

  &__subtitle {
    margin: 0;
    margin-bottom: $internal-margin-bottom;
    padding: 0;

    font-weight: 300;
    font-size: 3rem;
    line-height: 1.25;
    font-family: "Calson224 Medium Italic", Arial, sans-serif;
    font-style: italic;
    letter-spacing: 1.2px;
  }

  &__author {
    margin: 0;
    margin-bottom: $internal-margin-bottom;
    padding: 0;

    font-size: 1.875rem;
    line-height: 1;
    font-family: "Calson224 Book Italic", Arial, sans-serif;
    letter-spacing: 0.75px;
  }
}

.resellers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  &__text {
    display: inline-block;
    width: 195px;
    margin-bottom: 30px;

    font-size: 1.375rem;
    line-height: 1.3;
    font-family: "Suisse Condensed Medium", Arial, sans-serif;
    letter-spacing: 1.1px;

    opacity: 0.45;
  }
}

main {
  max-width: 780px;
  margin: 0 25.33%;
}

.content {
  margin-bottom: $external-margin;

  p {
    margin: 0;
    margin-bottom: $internal-margin-bottom;
    padding: 0;

    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.5;
    font-family: "Calson Regular", Arial, sans-serif;
    text-align: justify;
  }

  p:first-child {
    margin-bottom: $internal-margin-bottom * 2;

    font-weight: bold;
    font-size: 1.875rem;
    line-height: 1.3;
    font-family: "Calson224 Bold Italic", Arial, sans-serif;
  }
}

.share {
  margin-bottom: $external-margin;

  text-align: center;

  &__title {
    position: relative;

    margin: 0;
    margin-bottom: $internal-margin-bottom * 2;
    padding: 0;

    font-weight: medium;
    font-size: 1.0625rem;
    line-height: 1.5;
    font-family: "Suisse Condensed Medium", Arial, sans-serif;
    color: #fcdb00;
    text-transform: uppercase;

    &::after {
      content: "";
      position: absolute;
      bottom: $internal-margin-bottom * -1;
      left: 50%;

      width: 50px;
      height: 1px;

      background-color: #fcdb00;
      transform: translateX(-50%);
    }
  }
}

.author {
  text-align: center;

  &__title {
    @extend .share__title;
  }

  &__name {
    font-size: 30px;
    line-height: 1;
    font-family: "Calson224 Book Italic", Arial, sans-serif;
  }

  &__social {
    margin-bottom: $external-margin;
  }

  &__link {
    position: relative;

    font-weight: 400;
    font-size: 17px;
    line-height: 1.3;
    font-family: "Suisse Condensed", Arial, sans-serif;
    color: #0c6ffb;
    text-transform: uppercase;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    &:not(:last-child) {
      margin-right: 40px;

      &::after {
        content: "";
        position: absolute;
        top: 50%;

        display: inline-block;
        width: 10px;
        height: 10px;
        margin-left: 17px;

        background-color: #aed7ff;
        border-radius: 50%;
        transform: translateY(-50%);
      }
    }
  }
}

.main-footer {
  padding-bottom: 120px;

  text-align: center;

  &__copyright {
    display: inline-block;
    margin: 0;
    padding: 0;

    font-weight: 400;
    font-size: 1.3125rem;
    line-height: 1.3;
    font-family: "Calson224 Bold";
    vertical-align: middle;
    color: #26161c;

    img {
      display: inline-block;

      vertical-align: text-top;
    }
  }
}

@import "media.scss";
