
/* Medium Devices, Desktops */
@media only screen and (max-width: 980px) {
  .book {
    flex-direction: column;

    &__img {
      width: 400px;
      object-fit: cover;
    }

    &__cover {
      margin-right: 0;
      margin-bottom: $internal-margin-bottom;
    }

    &__content {
      margin-left: 0;
      margin-bottom: $internal-margin-bottom;
    }
  }
}


/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  main {
    margin: 0 15%;
  }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  html {
    font-size: 14px;
  }

  .resellers {
    flex-direction: column;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  .author__link {
    &:not(:last-child) {
      margin-right: 15px;

      &::after {
        margin-left: 5px;
      }
    }
  }
}
